backups/1._Сбор_новостей_RSS_SIPnV2mqmqMqUkLb_2026-07-02.json
{
  "updatedAt": "2026-07-02T18:44:46.890Z",
  "createdAt": "2026-05-14T12:58:24.838Z",
  "id": "SIPnV2mqmqMqUkLb",
  "name": "1. Сбор новостей RSS",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 8-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1616,
        -816
      ],
      "id": "61b68673-2804-40c9-91c7-528d2ab532e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D0%BA%D0%BE%D0%BC%D0%BC%D0%B5%D1%80%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&hl=ru&gl=RU&ceid=RU:ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -864
      ],
      "id": "924c90a1-33d5-4ab7-a98d-c68b1b3f63bc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nfor (const input of $input.all()) {\n  const text = input.json.data || '';\n  const parts = text.split('<item>');\n  for (let i = 1; i < parts.length; i++) {\n    const block = parts[i];\n    let title = '', link = '', pubDate = '', source = '', sourceUrl = '';\n    const c1 = block.indexOf('<title><![CDATA[');\n    if (c1 !== -1) {\n      const s = c1 + 16; const e = block.indexOf(']]></title>', s);\n      if (e !== -1) title = block.substring(s, e);\n    } else {\n      const s = block.indexOf('<title>'); const e = block.indexOf('</title>');\n      if (s !== -1 && e !== -1) title = block.substring(s + 7, e);\n    }\n    const ls = block.indexOf('<link>'); const le = block.indexOf('</link>');\n    if (ls !== -1 && le !== -1) link = block.substring(ls + 6, le);\n    const ps = block.indexOf('<pubDate>'); const pe = block.indexOf('</pubDate>');\n    if (ps !== -1 && pe !== -1) pubDate = block.substring(ps + 9, pe);\n    const ss = block.indexOf('<source'); const se = block.indexOf('</source>');\n    if (ss !== -1 && se !== -1) {\n      const openTagEnd = block.indexOf('>', ss);\n      source = block.substring(openTagEnd + 1, se);\n      const openTag = block.substring(ss, openTagEnd);\n      const urlMatch = openTag.match(/url=\"([^\"]+)\"/);\n      if (urlMatch) sourceUrl = urlMatch[1];\n    }\n    title = title.replace(/\"/g, \"'\").replace(/\\s+/g, ' ').trim();\n    if (title && link.trim()) {\n      items.push({ json: { title, link: link.trim(), sourceUrl: sourceUrl.trim(), pubDate: pubDate.trim(), source: source.trim() || 'Google News' }});\n    }\n  }\n}\nconst keywords = ['офис','склад','аренда','продажа','помещение','недвижимость',\n  'ипотека','застройщик','новостройк','коммерческ','инвестиц','ставка',\n  'цб','рынок','метр','площадь','объект','сделк','девелопер'];\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(now.getTime() + moscowOffset);\nconst moscowHour = moscowNow.getUTCHours();\nconst moscowMinute = moscowNow.getUTCMinutes();\nlet cutoffFrom, cutoffTo;\nif (moscowHour === 8 && moscowMinute <= 30) {\n  const todayMsk = new Date(moscowNow);\n  todayMsk.setUTCHours(5, 0, 0, 0);\n  cutoffTo = todayMsk.getTime() - moscowOffset;\n  const yesterdayMsk = new Date(moscowNow);\n  yesterdayMsk.setUTCDate(yesterdayMsk.getUTCDate() - 1);\n  yesterdayMsk.setUTCHours(18, 1, 0, 0);\n  cutoffFrom = yesterdayMsk.getTime() - moscowOffset;\n} else {\n  cutoffTo = now.getTime();\n  cutoffFrom = now.getTime() - 60 * 60 * 1000;\n}\nconst filtered = items.filter(function(item) {\n  const text = (item.json.title + ' ' + item.json.source).toLowerCase();\n  const hasKeyword = keywords.some(function(kw) { return text.indexOf(kw) !== -1; });\n  let isRecent = true;\n  if (item.json.pubDate) {\n    const pub = new Date(item.json.pubDate).getTime();\n    isRecent = pub >= cutoffFrom && pub <= cutoffTo;\n  }\n  return hasKeyword && isRecent;\n});\nconst top20 = filtered.slice(0, 20);\nreturn top20.length > 0 ? top20 : [{ json: { status: 'empty' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -576
      ],
      "id": "9109596e-f7b8-4748-9a5a-a95f39768bb4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&hl=ru&gl=RU&ceid=RU:ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -672
      ],
      "id": "7cd2ece2-c89d-4b48-a304-a8890b7e5221",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%BA%D0%B0+%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0+2026&hl=ru&gl=RU&ceid=RU:ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -480
      ],
      "id": "378f8333-8fcb-4116-b469-5e7e02e28bf4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D0%B0%D1%80%D0%B5%D0%BD%D0%B4%D0%B0+%D0%BE%D1%84%D0%B8%D1%81%D0%BE%D0%B2+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&hl=ru&gl=RU&ceid=RU:ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -304
      ],
      "id": "7cdbf701-860d-4b65-b9ff-e1a5972aafb0",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D1%80%D1%8B%D0%BD%D0%BE%D0%BA+%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D0%B8&hl=ru&gl=RU&ceid=RU:ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -128
      ],
      "id": "f7508c21-ddf2-407a-a2a6-059424a111fc",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%BE%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE+%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C+2026&hl=ru&gl=RU&ceid=RU:ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        48
      ],
      "id": "c385c8c8-7b6a-452d-8e53-22eea04bce13",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -480,
        -224
      ],
      "id": "c11b8dd2-8ccc-453f-9687-eeae3956eeec",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst allInputs = $input.all();\nconst sourceItems = $('Code in JavaScript').all();\nfor (let i = 0; i < allInputs.length; i++) {\n  const input = allInputs[i];\n  try {\n    const content = input.json.choices?.[0]?.message?.content || '';\n    const clean = content.replace(/```json|```/g, '').trim();\n    const jsonMatch = clean.match(/\\{[\\s\\S]*?\\}/);\n    if (!jsonMatch) continue;\n    const parsed = JSON.parse(jsonMatch[0]);\n    const score = Number(parsed.score) || 0;\n    const topic = parsed.topic || 'другое';\n    const src = sourceItems[i]?.json || {};\n    items.push({ json: { title: src.title||'', link: src.link||'', pubDate: src.pubDate||'', source: src.source||'', score, topic } });\n  } catch(e) {}\n}\n\nitems.sort(function(a, b) { return b.json.score - a.json.score; });\n\nconst filtered = items.filter(function(item) { return item.json.score >= 5; });\n\nconst usedTopics = [];\nconst dedupedByTopic = [];\nfor (const item of filtered) {\n  const topic = item.json.topic || 'другое';\n  if (!usedTopics.includes(topic)) {\n    usedTopics.push(topic);\n    dedupedByTopic.push(item);\n  }\n}\n\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(now.getTime() + moscowOffset);\nconst todayMsk = moscowNow.toISOString().substring(0, 10);\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (staticData.publishedDate !== todayMsk) {\n  staticData.published = [];\n  staticData.publishedDate = todayMsk;\n}\n\nif (!staticData.published) staticData.published = [];\n\nconst notYetPublished = dedupedByTopic.filter(function(item) {\n  const normTitle = (item.json.title || '').trim().toLowerCase().substring(0, 80);\n  return !staticData.published.includes(normTitle);\n});\n\nreturn notYetPublished.length > 0 ? notYetPublished : [{ json: { status: 'empty' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -736
      ],
      "id": "2802f724-6227-46c9-8075-952a0a17859d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "if ($itemIndex > 0) {\n  await new Promise(resolve => setTimeout(resolve, 800));\n}\nconst item = $input.item.json;\nconst title = item.title || '';\nconst description = item.description || item.text || title;\nconst source = item.source || item.link || 'RSS';\nconst body = {\n  model: 'anthropic/claude-sonnet-4-5',\n  max_tokens: 4500,\n  messages: [\n    {\n      role: 'system',\n      content: 'Ты - эксперт по рынку недвижимости России с 15-летним опытом. Пишешь посты для Telegram канала агентства Grandvest (Москва).\\n\\nПереписывай новость в формате экспертного поста. У тебя ДВА формата по объёму — выбирай по тому, сколько фактов в новости, но ОБА формата ВСЕГДА включают Комментарий Грандвест и Совет.\\n\\nВАЖНОЕ ПРАВИЛО ДЛЯ ВСЕГО ТЕКСТА: бери из исходной новости только факты, цифры и суть — саму формулировку всегда строй заново, своими словами. Ни одно предложение поста не должно быть скопировано или почти дословно повторено из исходного текста новости, включая заголовок. Это касается ВСЕГО поста целиком — заголовка, фактов, контекста, а не только первого предложения.\\n\\nФОРМАТ A (короткий, с фото) — для новостей с малым количеством конкретики:\\n📍 ЗАГОЛОВОК 8-12 слов\\n\\nКоротко факты в 2-3 предложения\\n\\n🏠 Комментарий Грандвест: 1-2 предложения экспертной интерпретации\\n\\n💡 Совет: 1 практичный совет\\n\\n👉 @Grandvest_bot\\n\\nОБЪЁМ: 700-950 символов.\\n\\nФОРМАТ B (полный, без фото) — для новостей с богатой фактологией:\\n📍 ЗАГОЛОВОК 8-12 слов\\n\\nФАКТЫ: 4-5 предложений с цифрами\\n\\nКОНТЕКСТ: 3-4 предложения\\n\\nВЛИЯНИЕ: 2-3 предложения\\n\\n🏠 Комментарий Грандвест:\\n\\n💡 Практический совет:\\n\\n👉 @Grandvest_bot\\n\\nОБЪЁМ: 1800-3600 символов.\\n\\nВАЖНО: используй ЛЮБУЮ доступную информацию. НИКОГДА не пиши текст между 950 и 1800 символов.\\n\\nЗАГОЛОВОК: НИКОГДА не копируй заголовок исходной новости дословно или почти дословно. Всегда формулируй свой собственный заголовок своими словами — можешь взять из новости только ключевой факт или цифру, но фразу и структуру построй заново.\\n\\nРАЗНООБРАЗИЕ И БЕЗОПАСНОСТЬ ПЕРВОГО ПРЕДЛОЖЕНИЯ (сразу после заголовка):\\n1) НЕ начинай текст всегда одинаковыми оборотами — каждый раз выбирай ОДИН из разных способов, ориентируясь на то, что лучше подходит новости: прямое утверждение факта, через цифру, через действие/глагол, через локацию, через сравнение с прошлым периодом, через временной маркер, через тренд, через следствие/итог, через контраст, через прямую цитату спикера (если она есть в тексте новости). Не используй один и тот же способ два поста подряд.\\n2) НЕ называй источник новости (СМИ, сайт, издание) по имени нигде в тексте поста — ни в заголовке, ни в первом предложении, ни далее. Пиши обезличенно: \"Продажи выросли на...\", а не \"Как сообщает Х...\". Источник указывается отдельно системой, в самом посте он не нужен.\\n\\nОтвечай NOPOST ТОЛЬКО если у новости вообще нет ни заголовка, ни источника, ни единого факта для зацепки.\\n\\nНЕ ПИШИ хештеги — они добавляются отдельно автоматически.\\n\\nНикогда не пиши анализ, рассуждения, заголовки вида \"Проблема:\"/\"Решение:\" или любые пояснения до или после поста. Ответ должен начинаться СРАЗУ с 📍, либо состоять ровно из одного слова NOPOST — никакого текста до или после этих вариантов.\\n\\nВ конце: IMAGE: [описание на английском, офис Москва, без людей]'\n    },\n    {\n      role: 'user',\n      content: 'Источник: ' + source + '\\n\\nЗаголовок: ' + title + '\\n\\nТекст:\\n' + description\n    }\n  ]\n};\nasync function callWithRetry(maxAttempts) {\n  let lastError;\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: {\n          'Authorization': 'Bearer [REDACTED_OPENROUTER_KEY]',\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify(body),\n        timeout: 25000,\n        family: 4\n      });\n    } catch (err) {\n      lastError = err;\n      if (attempt < maxAttempts) {\n        await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      }\n    }\n  }\n  throw lastError;\n}\nlet response;\ntry {\n  response = await callWithRetry.call(this, 3);\n} catch (err) {\n  return [{ json: { ...item, generated: { error: err.message } } }];\n}\nreturn [{ json: { ...item, generated: response } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -496
      ],
      "id": "02acb362-0678-4a8d-b998-23381c303eb3",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "jsCode": "for (const input of $input.all()) {\n  const fullText = input.json.generated?.choices?.[0]?.message?.content || '';\n  if (!fullText) continue;\n  if (fullText.trim().toUpperCase().startsWith('NOPOST')) {\n    continue;\n  }\n  const imageIndex = fullText.lastIndexOf('IMAGE:');\n  let image_prompt = 'Modern Moscow business center, professional real estate photography, luxury office space, 4k';\n  let bodyText = fullText.trim();\n  if (imageIndex !== -1) {\n    image_prompt = fullText.substring(imageIndex + 6).replace(/\\*\\*/g, '').trim();\n    bodyText = fullText.substring(0, imageIndex).trim();\n  } else {\n    continue;\n  }\n  const postStart = bodyText.indexOf('📍');\n  if (postStart === -1) {\n    console.log('БЛОКИРОВКА: нет 📍 в ответе Claude, формат нарушен, пост отброшен');\n    continue;\n  }\n  let tg_post = bodyText.substring(postStart);\n  tg_post = tg_post.replace(/\\*\\*/g, '').replace(/^#.*\\n+/, '').trim();\n  tg_post = tg_post + '\\n\\n#Грандвест #коммерческаянедвижимость #новостройки #аренда #ипотека';\n  items.push({\n    json: {\n      tg_post,\n      image_prompt,\n      title: input.json.title || '',\n      link: input.json.link || '',\n      source: input.json.source || '',\n      topic: input.json.topic || '',\n      score: input.json.score || 0\n    }\n  });\n}\nreturn items.length > 0 ? items : [{ json: { status: 'empty' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -496
      ],
      "id": "17e283c5-72f8-4af8-a484-bd27b99fb36b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Smariovin/grandvest/actions/workflows/grandvest-publisher.yml/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED_GITHUB_TOKEN]"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"message\": {{ JSON.stringify($json.tg_post || $json.title || 'RSS update') }},\n    \"image_url\": {{ JSON.stringify($json.image_url || '') }},\n    \"source_url\": {{ JSON.stringify($json.link || '') }},\n    \"source_name\": {{ JSON.stringify($json.source || 'RSS') }},\n    \"parser_name\": \"RSS\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -496
      ],
      "id": "057c6336-a6d3-4515-8218-f78d75f25642",
      "name": "HTTP Request8",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.publishedTitles) staticData.publishedTitles = [];\n\nconst unique = [];\nfor (const item of items) {\n  // Берём title из исходных данных новости (от Code in JavaScript)\n  const src = $('Code in JavaScript').first().json;\n  const title = (src.title || src.text || item.json.title || '').trim().toLowerCase().substring(0, 80);\n  if (!title) {\n    unique.push(item);\n    continue;\n  }\n  if (!staticData.publishedTitles.some(p => p.substring(0, 80) === title)) {\n    unique.push(item);\n  }\n}\n\nif (staticData.publishedTitles.length > 500) {\n  staticData.publishedTitles = staticData.publishedTitles.slice(-300);\n}\nconsole.log('Dedup: in=' + items.length + ' out=' + unique.length);\nreturn unique.slice(0, 1);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -736
      ],
      "id": "eb64f267-799b-4062-8f31-7c2a299c9a65",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Code in JavaScript2').first().json;\nconst title = (item.title || item.tg_post || '').trim().toLowerCase().substring(0, 80);\n\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(now.getTime() + moscowOffset);\nconst todayMsk = moscowNow.toISOString().substring(0, 10);\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (staticData.publishedDate !== todayMsk) {\n  staticData.published = [];\n  staticData.publishedDate = todayMsk;\n}\nif (!staticData.published) staticData.published = [];\n\nif (title && !staticData.published.includes(title)) {\n  staticData.published.push(title);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -240
      ],
      "id": "0f79f734-aa63-486b-b438-0254d73ee26d",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "url": "https://realty.ria.ru/export/rss2/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        432
      ],
      "id": "f1dd4110-fc6c-4085-a2d1-86318d7eb1cf",
      "name": "РИА Недвижимость"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Code in JavaScript2').first().json;\nconst now = new Date();\nconst msk = new Date(now.getTime() + 3 * 60 * 60 * 1000);\nconst timeStr = msk.toISOString().substring(11, 16) + ' МСК';\nconst title = item.title || 'без заголовка';\nconst source = item.source || item.link || 'RSS';\nconst preview = (item.tg_post || title).substring(0, 100).replace(/\\n/g, ' ');\nconst msg = [\n  '📰 <b>Новость отправлена</b>',\n  '',\n  '🔧 RSS Парсер',\n  '🔗 ' + source,\n  '🕐 ' + timeStr,\n  '📊 Найдено: 1 пост',\n  '',\n  '💬 ' + preview + '...'\n].join('\\n');\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.github.com/repos/Smariovin/grandvest/actions/workflows/grandvest-publisher.yml/dispatches',\n  headers: {\n    'Authorization': 'token [REDACTED_GITHUB_TOKEN]',\n    'Accept': 'application/vnd.github.v3+json',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    ref: 'main',\n    inputs: {\n      message: msg,\n      image_url: '',\n      source_url: item.link || '',\n      source_name: source,\n      parser_name: 'RSS',\n      chat_id: '5340000158'\n    }\n  })\n});\nreturn [$input.item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -240
      ],
      "id": "8c53f7d6-6cc3-41c6-81c4-285353fd0584",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const input of $input.all()) {\n  let description = input.json.description || input.json.text || '';\n\n  const tooShort = !description || description.trim().length < 200 ||\n                    description.trim() === (input.json.title || '').trim();\n\n  if (tooShort && input.json.link) {\n    try {\n      const html = await this.helpers.httpRequest({\n        method: 'GET',\n        url: input.json.link,\n        headers: { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36' },\n        timeout: 10000\n      });\n\n      if (typeof html === 'string') {\n        let text = html\n          .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n          .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n          .replace(/<[^>]+>/g, ' ')\n          .replace(/&nbsp;/g, ' ')\n          .replace(/&amp;/g, '&')\n          .replace(/&quot;/g, '\"')\n          .replace(/\\s+/g, ' ')\n          .trim();\n\n        if (text.length > 300) {\n          description = text.substring(0, 3000);\n        }\n      }\n    } catch (e) {\n      // страница недоступна или защищена — оставляем что было, дальше сработает NOPOST\n    }\n  }\n\n  items.push({\n    json: {\n      ...input.json,\n      description\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -736
      ],
      "id": "4da5d8fe-bd98-475f-9c80-80d6e5a079f8",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nfor (const input of $input.all()) {\n  let description = input.json.description || input.json.text || '';\n  const tooShort = !description || description.trim().length < 200 ||\n                    description.trim() === (input.json.title || '').trim();\n\n  const realUrl = input.json.sourceUrl && input.json.sourceUrl.trim()\n    ? input.json.sourceUrl.trim()\n    : input.json.link;\n\n  if (tooShort && realUrl) {\n    let fetched = false;\n    for (let attempt = 1; attempt <= 3 && !fetched; attempt++) {\n      try {\n        const html = await this.helpers.httpRequest({\n          method: 'GET',\n          url: realUrl,\n          headers: { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36' },\n          timeout: 20000,\n          family: 4\n        });\n        if (typeof html === 'string') {\n          let text = html\n            .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n            .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n            .replace(/<[^>]+>/g, ' ')\n            .replace(/&nbsp;/g, ' ')\n            .replace(/&amp;/g, '&')\n            .replace(/&quot;/g, '\"')\n            .replace(/\\s+/g, ' ')\n            .trim();\n          if (text.length > 300) {\n            description = text.substring(0, 3000);\n            fetched = true;\n          }\n        }\n      } catch (e) {\n        console.log('Попытка ' + attempt + ' не удалась для ' + realUrl + ': ' + e.message);\n        if (attempt < 3) {\n          await new Promise(resolve => setTimeout(resolve, 2000));\n        }\n      }\n    }\n    if (!fetched) {\n      console.log('WARNING: полный текст не получен для ' + realUrl + ' — description останется коротким');\n    }\n  }\n\n  items.push({\n    json: {\n      ...input.json,\n      description\n    }\n  });\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -736
      ],
      "id": "887b0362-61b2-4fac-a337-44598a89d6f2",
      "name": "Получение полного текста"
    },
    {
      "parameters": {
        "jsCode": "if ($itemIndex > 0) {\n  await new Promise(resolve => setTimeout(resolve, 800));\n}\n\nconst item = $input.item.json;\nif (item.status === 'empty' || !item.title) {\n  return [{ json: { status: 'empty' } }];\n}\nconst title = item.title || '';\nconst source = item.source || item.link || 'RSS';\nconst body = {\n  model: 'anthropic/claude-sonnet-4-5',\n  max_tokens: 100,\n  messages: [\n    {\n      role: 'system',\n      content: 'Оцени новость 0-10 для рынка коммерческой недвижимости Москвы. Ответ должен состоять РОВНО из одной строки JSON, без markdown-разметки, без объяснений, без слова \"Обоснование\": {\"score\": 7, \"topic\": \"аренда\"}'\n    },\n    {\n      role: 'user',\n      content: title + ' ' + source\n    }\n  ]\n};\nasync function callWithRetry(maxAttempts) {\n  let lastError;\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: {\n          'Authorization': 'Bearer [REDACTED_OPENROUTER_KEY]',\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify(body),\n        timeout: 15000,\n        family: 4\n      });\n    } catch (err) {\n      lastError = err;\n      if (attempt < maxAttempts) {\n        await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      }\n    }\n  }\n  throw lastError;\n}\nlet response;\ntry {\n  response = await callWithRetry.call(this, 3);\n} catch (err) {\n  return [{ json: { ...item, status: 'empty', retryError: err.message } }];\n}\nreturn [{ json: { ...item, ...response } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -736
      ],
      "id": "62fb7ebc-ec32-4e02-a7d4-eecb561d57c0",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "https://restate.ru/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        240
      ],
      "id": "6ee40344-37b3-4d4b-8fc2-71dc288e8011",
      "name": "Restate.ru"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst msk = new Date(now.getTime() + 3 * 60 * 60 * 1000);\nconst dateStr = msk.toISOString().substring(0, 10).split('-').reverse().join('.');\nconst moscowHour = msk.getUTCHours();\nconst moscowMinute = msk.getUTCMinutes();\n\nlet periodStart, periodEnd;\nif (moscowHour === 8 && moscowMinute <= 30) {\n  periodStart = '21:01';\n  periodEnd = '08:00';\n} else {\n  const prevHour = String(moscowHour - 1).padStart(2, '0');\n  periodStart = prevHour + ':01';\n  periodEnd = String(moscowHour).padStart(2, '0') + ':00';\n}\n\nconst allItems = $input.all();\nconst totalFound = allItems.filter(function(item) {\n  return item.json.status !== 'empty' && item.json.title;\n}).length;\n\nconst SOURCES_COUNT = 8;\n\nconst msg = [\n  '📊 <b>Отчёт парсинга RSS | ' + periodStart + '–' + periodEnd + ' МСК</b>',\n  '📅 ' + dateStr + ' | Парсер RSS',\n  '🌐 Сервер: GitHub Actions (внешний IP)',\n  '',\n  'Итого за период:',\n  '📡 Источников проверено: ' + SOURCES_COUNT,\n  '📰 Новых постов за ' + periodStart + '–' + periodEnd + ': ' + totalFound,\n  '✅ Отправлено в публикацию: ' + totalFound,\n  '⚪ Без новостей: ' + (SOURCES_COUNT - Math.min(totalFound, SOURCES_COUNT)),\n  '❌ Ошибок доступа: 0'\n].join('\\n');\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.github.com/repos/Smariovin/grandvest/actions/workflows/grandvest-publisher.yml/dispatches',\n  headers: {\n    'Authorization': 'token [REDACTED_GITHUB_TOKEN]',\n    'Accept': 'application/vnd.github.v3+json',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    ref: 'main',\n    inputs: {\n      message: msg,\n      image_url: '',\n      source_url: '',\n      source_name: 'RSS',\n      parser_name: 'RSS',\n      chat_id: '5340000158'\n    }\n  })\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -912
      ],
      "id": "92d85a68-a3a5-4361-868e-49b96912d1bd",
      "name": "Отчет RSS"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst text = item.tg_post || '';\n\n// Защита: если пост пустой или без формата Claude — пропускаем (n8n удалит этот item)\nif (!text || text.trim().length < 300 || !text.includes('📍')) {\n  console.log('БЛОКИРОВКА: пост пустой или без формата Claude (длина: ' + text.length + ')');\n  return null;\n}\n\nconst HASHTAGS_LEN = 68;\nconst SHORT_LIMIT = 1024 - HASHTAGS_LEN - 20;\n\nif (text.trim().length > SHORT_LIMIT) {\n  return { json: { ...item, image_url: '' } };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fal.run/fal-ai/flux/schnell',\n    headers: {\n      'Authorization': 'Key [REDACTED_FAL_KEY]',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      prompt: item.image_prompt || 'Modern Moscow business center interior, professional real estate photography, luxury office space, natural lighting, no people, 4k',\n      image_size: 'landscape_16_9',\n      num_inference_steps: 4,\n      num_images: 1,\n      enable_safety_checker: true\n    }),\n    timeout: 20000,\n    family: 4\n  });\n  const url = response.images?.[0]?.url || '';\n  return { json: { ...item, image_url: url } };\n} catch (e) {\n  return { json: { ...item, image_url: '' } };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -496
      ],
      "id": "babf310e-4fcd-42bc-ac24-419609c6919e",
      "name": "Картинка"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Restate.ru",
            "type": "main",
            "index": 0
          },
          {
            "node": "РИА Недвижимость",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Отчет RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Картинка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "РИА Недвижимость": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Получение полного текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение полного текста": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restate.ru": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        []
      ]
    },
    "Отчет RSS": {
      "main": [
        []
      ]
    },
    "Картинка": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "published": [
        "шесть офисов класса а выходят на рынок москвы до конца года - allestate.pro",
        "девелоперы адаптируются к падению спроса и меняют стратегию продаж - restate.ru"
      ],
      "publishedDate": "2026-07-02",
      "publishedTitles": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74990cc2-b12f-4de9-9657-072672e180a0",
  "activeVersionId": "74990cc2-b12f-4de9-9657-072672e180a0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-14T12:58:24.841Z",
      "createdAt": "2026-05-14T12:58:24.841Z",
      "role": "workflow:owner",
      "workflowId": "SIPnV2mqmqMqUkLb",
      "projectId": "19RPcuWgnn1YDjfN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-02T18:44:50.000Z",
    "createdAt": "2026-07-02T18:44:17.160Z",
    "versionId": "74990cc2-b12f-4de9-9657-072672e180a0",
    "workflowId": "SIPnV2mqmqMqUkLb",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 1 8-21 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1616,
          -816
        ],
        "id": "61b68673-2804-40c9-91c7-528d2ab532e3",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=%D0%BA%D0%BE%D0%BC%D0%BC%D0%B5%D1%80%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&hl=ru&gl=RU&ceid=RU:ru",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          -864
        ],
        "id": "924c90a1-33d5-4ab7-a98d-c68b1b3f63bc",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "const items = [];\nfor (const input of $input.all()) {\n  const text = input.json.data || '';\n  const parts = text.split('<item>');\n  for (let i = 1; i < parts.length; i++) {\n    const block = parts[i];\n    let title = '', link = '', pubDate = '', source = '', sourceUrl = '';\n    const c1 = block.indexOf('<title><![CDATA[');\n    if (c1 !== -1) {\n      const s = c1 + 16; const e = block.indexOf(']]></title>', s);\n      if (e !== -1) title = block.substring(s, e);\n    } else {\n      const s = block.indexOf('<title>'); const e = block.indexOf('</title>');\n      if (s !== -1 && e !== -1) title = block.substring(s + 7, e);\n    }\n    const ls = block.indexOf('<link>'); const le = block.indexOf('</link>');\n    if (ls !== -1 && le !== -1) link = block.substring(ls + 6, le);\n    const ps = block.indexOf('<pubDate>'); const pe = block.indexOf('</pubDate>');\n    if (ps !== -1 && pe !== -1) pubDate = block.substring(ps + 9, pe);\n    const ss = block.indexOf('<source'); const se = block.indexOf('</source>');\n    if (ss !== -1 && se !== -1) {\n      const openTagEnd = block.indexOf('>', ss);\n      source = block.substring(openTagEnd + 1, se);\n      const openTag = block.substring(ss, openTagEnd);\n      const urlMatch = openTag.match(/url=\"([^\"]+)\"/);\n      if (urlMatch) sourceUrl = urlMatch[1];\n    }\n    title = title.replace(/\"/g, \"'\").replace(/\\s+/g, ' ').trim();\n    if (title && link.trim()) {\n      items.push({ json: { title, link: link.trim(), sourceUrl: sourceUrl.trim(), pubDate: pubDate.trim(), source: source.trim() || 'Google News' }});\n    }\n  }\n}\nconst keywords = ['офис','склад','аренда','продажа','помещение','недвижимость',\n  'ипотека','застройщик','новостройк','коммерческ','инвестиц','ставка',\n  'цб','рынок','метр','площадь','объект','сделк','девелопер'];\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(now.getTime() + moscowOffset);\nconst moscowHour = moscowNow.getUTCHours();\nconst moscowMinute = moscowNow.getUTCMinutes();\nlet cutoffFrom, cutoffTo;\nif (moscowHour === 8 && moscowMinute <= 30) {\n  const todayMsk = new Date(moscowNow);\n  todayMsk.setUTCHours(5, 0, 0, 0);\n  cutoffTo = todayMsk.getTime() - moscowOffset;\n  const yesterdayMsk = new Date(moscowNow);\n  yesterdayMsk.setUTCDate(yesterdayMsk.getUTCDate() - 1);\n  yesterdayMsk.setUTCHours(18, 1, 0, 0);\n  cutoffFrom = yesterdayMsk.getTime() - moscowOffset;\n} else {\n  cutoffTo = now.getTime();\n  cutoffFrom = now.getTime() - 60 * 60 * 1000;\n}\nconst filtered = items.filter(function(item) {\n  const text = (item.json.title + ' ' + item.json.source).toLowerCase();\n  const hasKeyword = keywords.some(function(kw) { return text.indexOf(kw) !== -1; });\n  let isRecent = true;\n  if (item.json.pubDate) {\n    const pub = new Date(item.json.pubDate).getTime();\n    isRecent = pub >= cutoffFrom && pub <= cutoffTo;\n  }\n  return hasKeyword && isRecent;\n});\nconst top20 = filtered.slice(0, 20);\nreturn top20.length > 0 ? top20 : [{ json: { status: 'empty' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          -576
        ],
        "id": "9109596e-f7b8-4748-9a5a-a95f39768bb4",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&hl=ru&gl=RU&ceid=RU:ru",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          -672
        ],
        "id": "7cd2ece2-c89d-4b48-a304-a8890b7e5221",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%BA%D0%B0+%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0+2026&hl=ru&gl=RU&ceid=RU:ru",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          -480
        ],
        "id": "378f8333-8fcb-4116-b469-5e7e02e28bf4",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=%D0%B0%D1%80%D0%B5%D0%BD%D0%B4%D0%B0+%D0%BE%D1%84%D0%B8%D1%81%D0%BE%D0%B2+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&hl=ru&gl=RU&ceid=RU:ru",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          -304
        ],
        "id": "7cdbf701-860d-4b65-b9ff-e1a5972aafb0",
        "name": "HTTP Request3"
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=%D1%80%D1%8B%D0%BD%D0%BE%D0%BA+%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D0%B8&hl=ru&gl=RU&ceid=RU:ru",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          -128
        ],
        "id": "f7508c21-ddf2-407a-a2a6-059424a111fc",
        "name": "HTTP Request4"
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%BE%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE+%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C+2026&hl=ru&gl=RU&ceid=RU:ru",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          48
        ],
        "id": "c385c8c8-7b6a-452d-8e53-22eea04bce13",
        "name": "HTTP Request5"
      },
      {
        "parameters": {
          "numberInputs": 8
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -480,
          -224
        ],
        "id": "c11b8dd2-8ccc-453f-9687-eeae3956eeec",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "const items = [];\nconst allInputs = $input.all();\nconst sourceItems = $('Code in JavaScript').all();\nfor (let i = 0; i < allInputs.length; i++) {\n  const input = allInputs[i];\n  try {\n    const content = input.json.choices?.[0]?.message?.content || '';\n    const clean = content.replace(/```json|```/g, '').trim();\n    const jsonMatch = clean.match(/\\{[\\s\\S]*?\\}/);\n    if (!jsonMatch) continue;\n    const parsed = JSON.parse(jsonMatch[0]);\n    const score = Number(parsed.score) || 0;\n    const topic = parsed.topic || 'другое';\n    const src = sourceItems[i]?.json || {};\n    items.push({ json: { title: src.title||'', link: src.link||'', pubDate: src.pubDate||'', source: src.source||'', score, topic } });\n  } catch(e) {}\n}\n\nitems.sort(function(a, b) { return b.json.score - a.json.score; });\n\nconst filtered = items.filter(function(item) { return item.json.score >= 5; });\n\nconst usedTopics = [];\nconst dedupedByTopic = [];\nfor (const item of filtered) {\n  const topic = item.json.topic || 'другое';\n  if (!usedTopics.includes(topic)) {\n    usedTopics.push(topic);\n    dedupedByTopic.push(item);\n  }\n}\n\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(now.getTime() + moscowOffset);\nconst todayMsk = moscowNow.toISOString().substring(0, 10);\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (staticData.publishedDate !== todayMsk) {\n  staticData.published = [];\n  staticData.publishedDate = todayMsk;\n}\n\nif (!staticData.published) staticData.published = [];\n\nconst notYetPublished = dedupedByTopic.filter(function(item) {\n  const normTitle = (item.json.title || '').trim().toLowerCase().substring(0, 80);\n  return !staticData.published.includes(normTitle);\n});\n\nreturn notYetPublished.length > 0 ? notYetPublished : [{ json: { status: 'empty' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          176,
          -736
        ],
        "id": "2802f724-6227-46c9-8075-952a0a17859d",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "if ($itemIndex > 0) {\n  await new Promise(resolve => setTimeout(resolve, 800));\n}\nconst item = $input.item.json;\nconst title = item.title || '';\nconst description = item.description || item.text || title;\nconst source = item.source || item.link || 'RSS';\nconst body = {\n  model: 'anthropic/claude-sonnet-4-5',\n  max_tokens: 4500,\n  messages: [\n    {\n      role: 'system',\n      content: 'Ты - эксперт по рынку недвижимости России с 15-летним опытом. Пишешь посты для Telegram канала агентства Grandvest (Москва).\\n\\nПереписывай новость в формате экспертного поста. У тебя ДВА формата по объёму — выбирай по тому, сколько фактов в новости, но ОБА формата ВСЕГДА включают Комментарий Грандвест и Совет.\\n\\nВАЖНОЕ ПРАВИЛО ДЛЯ ВСЕГО ТЕКСТА: бери из исходной новости только факты, цифры и суть — саму формулировку всегда строй заново, своими словами. Ни одно предложение поста не должно быть скопировано или почти дословно повторено из исходного текста новости, включая заголовок. Это касается ВСЕГО поста целиком — заголовка, фактов, контекста, а не только первого предложения.\\n\\nФОРМАТ A (короткий, с фото) — для новостей с малым количеством конкретики:\\n📍 ЗАГОЛОВОК 8-12 слов\\n\\nКоротко факты в 2-3 предложения\\n\\n🏠 Комментарий Грандвест: 1-2 предложения экспертной интерпретации\\n\\n💡 Совет: 1 практичный совет\\n\\n👉 @Grandvest_bot\\n\\nОБЪЁМ: 700-950 символов.\\n\\nФОРМАТ B (полный, без фото) — для новостей с богатой фактологией:\\n📍 ЗАГОЛОВОК 8-12 слов\\n\\nФАКТЫ: 4-5 предложений с цифрами\\n\\nКОНТЕКСТ: 3-4 предложения\\n\\nВЛИЯНИЕ: 2-3 предложения\\n\\n🏠 Комментарий Грандвест:\\n\\n💡 Практический совет:\\n\\n👉 @Grandvest_bot\\n\\nОБЪЁМ: 1800-3600 символов.\\n\\nВАЖНО: используй ЛЮБУЮ доступную информацию. НИКОГДА не пиши текст между 950 и 1800 символов.\\n\\nЗАГОЛОВОК: НИКОГДА не копируй заголовок исходной новости дословно или почти дословно. Всегда формулируй свой собственный заголовок своими словами — можешь взять из новости только ключевой факт или цифру, но фразу и структуру построй заново.\\n\\nРАЗНООБРАЗИЕ И БЕЗОПАСНОСТЬ ПЕРВОГО ПРЕДЛОЖЕНИЯ (сразу после заголовка):\\n1) НЕ начинай текст всегда одинаковыми оборотами — каждый раз выбирай ОДИН из разных способов, ориентируясь на то, что лучше подходит новости: прямое утверждение факта, через цифру, через действие/глагол, через локацию, через сравнение с прошлым периодом, через временной маркер, через тренд, через следствие/итог, через контраст, через прямую цитату спикера (если она есть в тексте новости). Не используй один и тот же способ два поста подряд.\\n2) НЕ называй источник новости (СМИ, сайт, издание) по имени нигде в тексте поста — ни в заголовке, ни в первом предложении, ни далее. Пиши обезличенно: \"Продажи выросли на...\", а не \"Как сообщает Х...\". Источник указывается отдельно системой, в самом посте он не нужен.\\n\\nОтвечай NOPOST ТОЛЬКО если у новости вообще нет ни заголовка, ни источника, ни единого факта для зацепки.\\n\\nНЕ ПИШИ хештеги — они добавляются отдельно автоматически.\\n\\nНикогда не пиши анализ, рассуждения, заголовки вида \"Проблема:\"/\"Решение:\" или любые пояснения до или после поста. Ответ должен начинаться СРАЗУ с 📍, либо состоять ровно из одного слова NOPOST — никакого текста до или после этих вариантов.\\n\\nВ конце: IMAGE: [описание на английском, офис Москва, без людей]'\n    },\n    {\n      role: 'user',\n      content: 'Источник: ' + source + '\\n\\nЗаголовок: ' + title + '\\n\\nТекст:\\n' + description\n    }\n  ]\n};\nasync function callWithRetry(maxAttempts) {\n  let lastError;\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: {\n          'Authorization': 'Bearer [REDACTED_OPENROUTER_KEY]',\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify(body),\n        timeout: 25000,\n        family: 4\n      });\n    } catch (err) {\n      lastError = err;\n      if (attempt < maxAttempts) {\n        await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      }\n    }\n  }\n  throw lastError;\n}\nlet response;\ntry {\n  response = await callWithRetry.call(this, 3);\n} catch (err) {\n  return [{ json: { ...item, generated: { error: err.message } } }];\n}\nreturn [{ json: { ...item, generated: response } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -32,
          -496
        ],
        "id": "02acb362-0678-4a8d-b998-23381c303eb3",
        "name": "HTTP Request7"
      },
      {
        "parameters": {
          "jsCode": "for (const input of $input.all()) {\n  const fullText = input.json.generated?.choices?.[0]?.message?.content || '';\n  if (!fullText) continue;\n  if (fullText.trim().toUpperCase().startsWith('NOPOST')) {\n    continue;\n  }\n  const imageIndex = fullText.lastIndexOf('IMAGE:');\n  let image_prompt = 'Modern Moscow business center, professional real estate photography, luxury office space, 4k';\n  let bodyText = fullText.trim();\n  if (imageIndex !== -1) {\n    image_prompt = fullText.substring(imageIndex + 6).replace(/\\*\\*/g, '').trim();\n    bodyText = fullText.substring(0, imageIndex).trim();\n  } else {\n    continue;\n  }\n  const postStart = bodyText.indexOf('📍');\n  if (postStart === -1) {\n    console.log('БЛОКИРОВКА: нет 📍 в ответе Claude, формат нарушен, пост отброшен');\n    continue;\n  }\n  let tg_post = bodyText.substring(postStart);\n  tg_post = tg_post.replace(/\\*\\*/g, '').replace(/^#.*\\n+/, '').trim();\n  tg_post = tg_post + '\\n\\n#Грандвест #коммерческаянедвижимость #новостройки #аренда #ипотека';\n  items.push({\n    json: {\n      tg_post,\n      image_prompt,\n      title: input.json.title || '',\n      link: input.json.link || '',\n      source: input.json.source || '',\n      topic: input.json.topic || '',\n      score: input.json.score || 0\n    }\n  });\n}\nreturn items.length > 0 ? items : [{ json: { status: 'empty' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          -496
        ],
        "id": "17e283c5-72f8-4af8-a484-bd27b99fb36b",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.github.com/repos/Smariovin/grandvest/actions/workflows/grandvest-publisher.yml/dispatches",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer [REDACTED_GITHUB_TOKEN]"
              },
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"message\": {{ JSON.stringify($json.tg_post || $json.title || 'RSS update') }},\n    \"image_url\": {{ JSON.stringify($json.image_url || '') }},\n    \"source_url\": {{ JSON.stringify($json.link || '') }},\n    \"source_name\": {{ JSON.stringify($json.source || 'RSS') }},\n    \"parser_name\": \"RSS\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          688,
          -496
        ],
        "id": "057c6336-a6d3-4515-8218-f78d75f25642",
        "name": "HTTP Request8",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.publishedTitles) staticData.publishedTitles = [];\n\nconst unique = [];\nfor (const item of items) {\n  // Берём title из исходных данных новости (от Code in JavaScript)\n  const src = $('Code in JavaScript').first().json;\n  const title = (src.title || src.text || item.json.title || '').trim().toLowerCase().substring(0, 80);\n  if (!title) {\n    unique.push(item);\n    continue;\n  }\n  if (!staticData.publishedTitles.some(p => p.substring(0, 80) === title)) {\n    unique.push(item);\n  }\n}\n\nif (staticData.publishedTitles.length > 500) {\n  staticData.publishedTitles = staticData.publishedTitles.slice(-300);\n}\nconsole.log('Dedup: in=' + items.length + ' out=' + unique.length);\nreturn unique.slice(0, 1);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          -736
        ],
        "id": "eb64f267-799b-4062-8f31-7c2a299c9a65",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {
          "jsCode": "const item = $('Code in JavaScript2').first().json;\nconst title = (item.title || item.tg_post || '').trim().toLowerCase().substring(0, 80);\n\nconst now = new Date();\nconst moscowOffset = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(now.getTime() + moscowOffset);\nconst todayMsk = moscowNow.toISOString().substring(0, 10);\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (staticData.publishedDate !== todayMsk) {\n  staticData.published = [];\n  staticData.publishedDate = todayMsk;\n}\nif (!staticData.published) staticData.published = [];\n\nif (title && !staticData.published.includes(title)) {\n  staticData.published.push(title);\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -80,
          -240
        ],
        "id": "0f79f734-aa63-486b-b438-0254d73ee26d",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "url": "https://realty.ria.ru/export/rss2/index.xml",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          432
        ],
        "id": "f1dd4110-fc6c-4085-a2d1-86318d7eb1cf",
        "name": "РИА Недвижимость"
      },
      {
        "parameters": {
          "jsCode": "const item = $('Code in JavaScript2').first().json;\nconst now = new Date();\nconst msk = new Date(now.getTime() + 3 * 60 * 60 * 1000);\nconst timeStr = msk.toISOString().substring(11, 16) + ' МСК';\nconst title = item.title || 'без заголовка';\nconst source = item.source || item.link || 'RSS';\nconst preview = (item.tg_post || title).substring(0, 100).replace(/\\n/g, ' ');\nconst msg = [\n  '📰 <b>Новость отправлена</b>',\n  '',\n  '🔧 RSS Парсер',\n  '🔗 ' + source,\n  '🕐 ' + timeStr,\n  '📊 Найдено: 1 пост',\n  '',\n  '💬 ' + preview + '...'\n].join('\\n');\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.github.com/repos/Smariovin/grandvest/actions/workflows/grandvest-publisher.yml/dispatches',\n  headers: {\n    'Authorization': 'token [REDACTED_GITHUB_TOKEN]',\n    'Accept': 'application/vnd.github.v3+json',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    ref: 'main',\n    inputs: {\n      message: msg,\n      image_url: '',\n      source_url: item.link || '',\n      source_name: source,\n      parser_name: 'RSS',\n      chat_id: '5340000158'\n    }\n  })\n});\nreturn [$input.item];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          -240
        ],
        "id": "8c53f7d6-6cc3-41c6-81c4-285353fd0584",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const input of $input.all()) {\n  let description = input.json.description || input.json.text || '';\n\n  const tooShort = !description || description.trim().length < 200 ||\n                    description.trim() === (input.json.title || '').trim();\n\n  if (tooShort && input.json.link) {\n    try {\n      const html = await this.helpers.httpRequest({\n        method: 'GET',\n        url: input.json.link,\n        headers: { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36' },\n        timeout: 10000\n      });\n\n      if (typeof html === 'string') {\n        let text = html\n          .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n          .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n          .replace(/<[^>]+>/g, ' ')\n          .replace(/&nbsp;/g, ' ')\n          .replace(/&amp;/g, '&')\n          .replace(/&quot;/g, '\"')\n          .replace(/\\s+/g, ' ')\n          .trim();\n\n        if (text.length > 300) {\n          description = text.substring(0, 3000);\n        }\n      }\n    } catch (e) {\n      // страница недоступна или защищена — оставляем что было, дальше сработает NOPOST\n    }\n  }\n\n  items.push({\n    json: {\n      ...input.json,\n      description\n    }\n  });\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -736
        ],
        "id": "4da5d8fe-bd98-475f-9c80-80d6e5a079f8",
        "name": "Code in JavaScript6"
      },
      {
        "parameters": {
          "jsCode": "const items = [];\nfor (const input of $input.all()) {\n  let description = input.json.description || input.json.text || '';\n  const tooShort = !description || description.trim().length < 200 ||\n                    description.trim() === (input.json.title || '').trim();\n\n  const realUrl = input.json.sourceUrl && input.json.sourceUrl.trim()\n    ? input.json.sourceUrl.trim()\n    : input.json.link;\n\n  if (tooShort && realUrl) {\n    let fetched = false;\n    for (let attempt = 1; attempt <= 3 && !fetched; attempt++) {\n      try {\n        const html = await this.helpers.httpRequest({\n          method: 'GET',\n          url: realUrl,\n          headers: { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36' },\n          timeout: 20000,\n          family: 4\n        });\n        if (typeof html === 'string') {\n          let text = html\n            .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n            .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n            .replace(/<[^>]+>/g, ' ')\n            .replace(/&nbsp;/g, ' ')\n            .replace(/&amp;/g, '&')\n            .replace(/&quot;/g, '\"')\n            .replace(/\\s+/g, ' ')\n            .trim();\n          if (text.length > 300) {\n            description = text.substring(0, 3000);\n            fetched = true;\n          }\n        }\n      } catch (e) {\n        console.log('Попытка ' + attempt + ' не удалась для ' + realUrl + ': ' + e.message);\n        if (attempt < 3) {\n          await new Promise(resolve => setTimeout(resolve, 2000));\n        }\n      }\n    }\n    if (!fetched) {\n      console.log('WARNING: полный текст не получен для ' + realUrl + ' — description останется коротким');\n    }\n  }\n\n  items.push({\n    json: {\n      ...input.json,\n      description\n    }\n  });\n}\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          -736
        ],
        "id": "887b0362-61b2-4fac-a337-44598a89d6f2",
        "name": "Получение полного текста"
      },
      {
        "parameters": {
          "jsCode": "if ($itemIndex > 0) {\n  await new Promise(resolve => setTimeout(resolve, 800));\n}\n\nconst item = $input.item.json;\nif (item.status === 'empty' || !item.title) {\n  return [{ json: { status: 'empty' } }];\n}\nconst title = item.title || '';\nconst source = item.source || item.link || 'RSS';\nconst body = {\n  model: 'anthropic/claude-sonnet-4-5',\n  max_tokens: 100,\n  messages: [\n    {\n      role: 'system',\n      content: 'Оцени новость 0-10 для рынка коммерческой недвижимости Москвы. Ответ должен состоять РОВНО из одной строки JSON, без markdown-разметки, без объяснений, без слова \"Обоснование\": {\"score\": 7, \"topic\": \"аренда\"}'\n    },\n    {\n      role: 'user',\n      content: title + ' ' + source\n    }\n  ]\n};\nasync function callWithRetry(maxAttempts) {\n  let lastError;\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: {\n          'Authorization': 'Bearer [REDACTED_OPENROUTER_KEY]',\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify(body),\n        timeout: 15000,\n        family: 4\n      });\n    } catch (err) {\n      lastError = err;\n      if (attempt < maxAttempts) {\n        await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      }\n    }\n  }\n  throw lastError;\n}\nlet response;\ntry {\n  response = await callWithRetry.call(this, 3);\n} catch (err) {\n  return [{ json: { ...item, status: 'empty', retryError: err.message } }];\n}\nreturn [{ json: { ...item, ...response } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -16,
          -736
        ],
        "id": "62fb7ebc-ec32-4e02-a7d4-eecb561d57c0",
        "name": "HTTP Request6"
      },
      {
        "parameters": {
          "url": "https://restate.ru/rss/",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          240
        ],
        "id": "6ee40344-37b3-4d4b-8fc2-71dc288e8011",
        "name": "Restate.ru"
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst msk = new Date(now.getTime() + 3 * 60 * 60 * 1000);\nconst dateStr = msk.toISOString().substring(0, 10).split('-').reverse().join('.');\nconst moscowHour = msk.getUTCHours();\nconst moscowMinute = msk.getUTCMinutes();\n\nlet periodStart, periodEnd;\nif (moscowHour === 8 && moscowMinute <= 30) {\n  periodStart = '21:01';\n  periodEnd = '08:00';\n} else {\n  const prevHour = String(moscowHour - 1).padStart(2, '0');\n  periodStart = prevHour + ':01';\n  periodEnd = String(moscowHour).padStart(2, '0') + ':00';\n}\n\nconst allItems = $input.all();\nconst totalFound = allItems.filter(function(item) {\n  return item.json.status !== 'empty' && item.json.title;\n}).length;\n\nconst SOURCES_COUNT = 8;\n\nconst msg = [\n  '📊 <b>Отчёт парсинга RSS | ' + periodStart + '–' + periodEnd + ' МСК</b>',\n  '📅 ' + dateStr + ' | Парсер RSS',\n  '🌐 Сервер: GitHub Actions (внешний IP)',\n  '',\n  'Итого за период:',\n  '📡 Источников проверено: ' + SOURCES_COUNT,\n  '📰 Новых постов за ' + periodStart + '–' + periodEnd + ': ' + totalFound,\n  '✅ Отправлено в публикацию: ' + totalFound,\n  '⚪ Без новостей: ' + (SOURCES_COUNT - Math.min(totalFound, SOURCES_COUNT)),\n  '❌ Ошибок доступа: 0'\n].join('\\n');\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.github.com/repos/Smariovin/grandvest/actions/workflows/grandvest-publisher.yml/dispatches',\n  headers: {\n    'Authorization': 'token [REDACTED_GITHUB_TOKEN]',\n    'Accept': 'application/vnd.github.v3+json',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    ref: 'main',\n    inputs: {\n      message: msg,\n      image_url: '',\n      source_url: '',\n      source_name: 'RSS',\n      parser_name: 'RSS',\n      chat_id: '5340000158'\n    }\n  })\n});\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -112,
          -912
        ],
        "id": "92d85a68-a3a5-4361-868e-49b96912d1bd",
        "name": "Отчет RSS"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nconst text = item.tg_post || '';\n\n// Защита: если пост пустой или без формата Claude — пропускаем (n8n удалит этот item)\nif (!text || text.trim().length < 300 || !text.includes('📍')) {\n  console.log('БЛОКИРОВКА: пост пустой или без формата Claude (длина: ' + text.length + ')');\n  return null;\n}\n\nconst HASHTAGS_LEN = 68;\nconst SHORT_LIMIT = 1024 - HASHTAGS_LEN - 20;\n\nif (text.trim().length > SHORT_LIMIT) {\n  return { json: { ...item, image_url: '' } };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fal.run/fal-ai/flux/schnell',\n    headers: {\n      'Authorization': 'Key [REDACTED_FAL_KEY]',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      prompt: item.image_prompt || 'Modern Moscow business center interior, professional real estate photography, luxury office space, natural lighting, no people, 4k',\n      image_size: 'landscape_16_9',\n      num_inference_steps: 4,\n      num_images: 1,\n      enable_safety_checker: true\n    }),\n    timeout: 20000,\n    family: 4\n  });\n  const url = response.images?.[0]?.url || '';\n  return { json: { ...item, image_url: url } };\n} catch (e) {\n  return { json: { ...item, image_url: '' } };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          -496
        ],
        "id": "babf310e-4fcd-42bc-ac24-419609c6919e",
        "name": "Картинка"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request4",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request5",
              "type": "main",
              "index": 0
            },
            {
              "node": "Restate.ru",
              "type": "main",
              "index": 0
            },
            {
              "node": "РИА Недвижимость",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "HTTP Request4": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "HTTP Request5": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 5
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request6",
              "type": "main",
              "index": 0
            },
            {
              "node": "Отчет RSS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request7": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Картинка",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Code in JavaScript6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request8": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "РИА Недвижимость": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 7
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript6": {
        "main": [
          [
            {
              "node": "Получение полного текста",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Получение полного текста": {
        "main": [
          [
            {
              "node": "HTTP Request7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request6": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restate.ru": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 6
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          []
        ]
      },
      "Отчет RSS": {
        "main": [
          []
        ]
      },
      "Картинка": {
        "main": [
          [
            {
              "node": "HTTP Request8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin Grandvest",
    "name": "Version 74990cc2",
    "description": "",
    "autosaved": false
  },
  "tags": []
}